{% extends 'base.html' %}
{% load static %}

{% block title %}Home - Contest{% endblock %}

{% block content %}
<div class="text-center">
    <h1>Turniej Typera UEFA EURO 2024</h1>
    <div class="card mx-auto">
        <img src="{% static 'images/brand2024-2.jpg' %}" alt="UEFA EURO 2024" class="card-img-top">
        <div class="card-body mt-4">
            <h5 class="card-title">Nadchodzące Mecze</h5>
            <ul class="list-group list-group-flush">
                {% for match in matches %}
                <li class="list-group-item">
                    <strong>{{ match.home_team }}</strong> vs <strong>{{ match.away_team }}</strong><br>
                    <small>{{ match.date|date:"j F Y, H:i" }}</small>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
